In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly as plot

In [2]:
df = pd.read_csv("data.csv")

In [3]:
df.head()

   defect_id  defect_type material_grade  product_id        date   dataset
0         96         1086        Grade 2       15429  2020-12-01  Training
1        999         1151       Grade KP        3405  2021-01-04  Training
2       1405         1098        Grade 2        1571  2020-12-15  Training
3        870         1098        Grade A        3851  2021-01-23  Training
4       6229         1045        Grade 2        4676  2020-12-02      Test

In [4]:
df.shape

(6622, 6)

In [5]:
df.isna().sum()

defect_id           0
defect_type         0
material_grade    287
product_id          0
date                0
dataset             0
dtype: int64

In [6]:
df[df["material_grade"].isna()]

      defect_id  defect_type material_grade  product_id        date   dataset
71         5357         1072            NaN         328  2020-12-18      Test
72         2849         1072            NaN         328  2020-12-18  Training
78         2863         1072            NaN         328  2020-12-18  Training
87         2853         1072            NaN         328  2020-12-18  Training
107         247         1045            NaN         644  2020-12-18  Training
...         ...          ...            ...         ...         ...       ...
6505       5356         1072            NaN         328  2020-12-18      Test
6537        161         1099            NaN        6335  2020-12-17  Training
6561       2844         1072            NaN         328  2020-12-18  Training
6563        241         1079            NaN        8011  2020-12-18  Training
6585       2767         1099            NaN        6335  2020-12-17  Training

[287 rows x 6 columns]

In [12]:
df["material_grade"] = df["material_grade"].fillna("Unknown")
df.isna().sum()

defect_id         0
defect_type       0
material_grade    0
product_id        0
date              0
dataset           0
dtype: int64

In [13]:
df.nunique()

defect_id         6622
defect_type         21
material_grade      15
product_id         583
date                54
dataset              2
dtype: int64